@import "tailwindcss";

@layer base {
  * {
    font-family: 'Fira Code', monospace;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #212631;
    color: white;
    overflow-x: hidden;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #212631;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096;
  }
}